.page-admin{
  gap: 1rem;
  max-width: 700px;
}

.page-admin .textarea{
  flex-grow: 1;
  margin-top: 4rem;
}

.page-admin .aviso{
  display: flex;
  gap: 1rem;
  padding: 1rem 0;
}

.page-admin .button-container{
  display: flex;
  flex-direction: column-reverse;
  gap: 1.5rem;
}

.page-admin .button{
  flex-grow: 1;
}

@media (min-width: 500px) {
  .page-admin{
    margin: auto auto;
    max-height: 600px;
  }
  .page-admin .textarea{
    height: 600px;
    font-size: 3rem;
    margin-top: 0rem;
  }
  .page-admin .button-container{
    flex-direction: row-reverse;
  }
  .page-admin .boton{
    width: 50%;
  }
}