.page-home{
  align-items: center;
  justify-content: center;
  flex-direction: column;
}
.page-home .button-container{
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column-reverse;
  gap: 1.5rem;
  width: 100%;
  max-width: 300px;
}

.page-home .button{
  width: 100%;
}