/* BOTON */
.boton{
  background: transparent;
  color: var(--primary);
  padding: 1.8rem;
  border-radius: 1rem;
  border: 1px solid var(--primary);
  transition: background 300ms linear;
  outline: none;
}

.boton:hover,
.boton--active{
  background: var(--primary);
  color: var(--secondary);
}

.boton--novisible{
  display: none;
}

/* cambiar de colores ambos botones */
.boton:hover + .boton--active{
  background: transparent;
  color: var(--primary);
}

/* TEXTAREA */
.textarea{
  background: transparent;
  resize: none;
  outline: none;
  font-size: 2.5rem;
  color: var(--primary);
  border: none;
  /* border: 1px dashed green; */
  width: 100%;
}
.textarea::placeholder{
  color: var(--primary);
}

/* MODAL */
.modal{
  margin: auto; /* MUY IMPORTANTE PARA CENTRAR EL MODAL */
  border: none;
  background: transparent;
}
.modal-container{
  display: flex;
  padding: 2rem;
  border-radius: .5rem;
  flex-direction: column;
  gap: 2rem;
  background: white;
  max-width: 320px;
}
.modal__text{
  font-size: 1.8rem;
  line-height: 25px;
  text-align: center;
}
.modal__buttons-container{
  display: flex;
  flex-direction: row-reverse;
  gap: 1.5rem;
}

.modal .boton{
  flex-grow: 1;
}

.modal::backdrop{
  background: rgba(0, 0, 0, 0.697); /* DARLE OSCURIDAD DETRAS DEL MODAL */
}

@media (min-width: 600px) {
  .modal__text{
    font-size: 2rem;
  }
}










