@import url('./reset.css');
@import url('./variables.css');
@import url('./components/');
@import url('./pages/');

.app{
  width: 100%;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  background: var(--bg);
}

/* HEADER */
.header{
  display: flex;
  padding: 1rem 1.5rem;
}

.header__logo{
  width: 25px;
}

/* MAIN */
.main{
  display: flex;
  flex-grow: 1;
}

/* SECTIONS */
.page{
  display: none;
  flex-grow: 1;
  flex-direction: column;
  padding: 1.5rem;
}

.page--active{
  display: flex;
}

@media (min-width: 500px) {
  .header{
    padding: 2rem 1.5rem;
  }
  .section{
    padding: 2rem;
  }
}

@media (min-width: 800px) {
  .header{
    padding: 2rem 2.5rem;
  }
}

