@import url('./reset.css');
@import url('./variables.css');
@import url('./components.css');
@import url('./sections/section-1.css'); /* SECCION INICIO */
@import url('./sections/section-2.css'); /* SECCION AGREGAR NUEVA PALABRA */
@import url('./sections/section-3.css'); /* SECCION JUEGO */

.app{
  width: 100%;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  background: var(--bg);
}

/* HEADER */
.header{
  display: flex;
  padding: 1rem 1.5rem;
}

.header__logo{
  width: 25px;
}

/* MAIN */
.main{
  display: flex;
  flex-grow: 1;
}

/* SECTIONS */
.section{
  display: none;
  flex-grow: 1;
  flex-direction: column;
  padding: 1.5rem;
}

.section--active{
  display: flex;
}

@media (min-width: 500px) {
  .header{
    padding: 2rem 2.5rem;
  }
  .section{
    padding: 2rem;
  }
}



